{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/home.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <title>Weekdays Properties - Home</title>
 
 <style>
  /* HORIZONTAL SCROLL CONTAINER */
.card-grid {
    display: flex;
    gap: 20px;
    overflow-x: auto;     /* Scrolls horizontally */
    scroll-snap-type: x mandatory;
    padding-bottom: 15px;
}


.card-grid::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

/* CARD */
.expert-card {
    min-width: 250px;      /* card width */
    max-width: 250px;
    background: #ffffff;
    border-radius: 18px;
    padding: 22px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.12);
    text-align: center;
    
}

/* PROFILE IMAGE */
.profile-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 15px auto;
    border: 3px solid #eee;
}

/* TEXT */
.expert-card h3 {
    margin-bottom: 8px;
    font-size: 20px;
    color: black;
}

.expert-card p {
    margin: 5px 0;
    text-align: left;
    font-size: 14px;
}

/* CONTACT BUTTON */
.call-btn {
    display: block;
    width: 90%;
    padding: 12px;
    background:rgb(84, 84, 151);
    color: white;
    border-radius: 12px;
    margin-top: 18px;
    text-decoration: none;
    font-size: 16px;
}

.call-btn:hover {
    background: rgb(165, 55, 55);
}

/* Titles */
section h2, section p {
    text-align: center;
}
  .see-all-btn {
        display: inline-block;
        padding: 10px 25px;
        background:rgb(84, 84, 151) ;
        color: #fff;
        border-radius: 25px;
        text-decoration: none;
        font-size: 15px;
        transition: 0.3s;
      }

      .see-all-btn:hover {
        background: rgb(165, 55, 55);
      }

       .card-details {
            text-align: left;
            margin-top: 10px;
        }
         .card-details p{
          color: black;
          font-size: 18px;
         }



         @media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr); /* 1 card per row */
    padding: 20px;
    gap: 20px;
  }

  .card-item img {
    height: 180px; /* smaller image on mobile */
  }

  .card-item h1 {
    font-size: 18px;
  }

  .card-item p {
    font-size: 13px;
    padding: 0 15px 15px;
  }
}


@media (max-width: 768px) {
  footer.footer {
    display: none !important;
  }
}


    </style> 
  </head>
  <body>
    <!-- HEADER -->
    <div class="header">
      {%comment%}
      <!-- <div class="logo">
        <img src="{% static 'images/logo.jpg' %}" alt="Logo" />
      </div>
      <div class="right-links">
        <a href="{% url 'login' %}">➕ Add Property</a>
        <a href="{% url 'login' %}">🚪 Login</a>
      </div> -->
      {%endcomment%}
      {% include 'NavBar.html' %}
    </div>

    <!-- BACKGROUND SLIDESHOW -->
    <div class="slideshow">
      <img src="{% static 'images/house1.png' %}" alt="Slide 1" />
      <img src="{% static 'images/house2.png' %}" alt="Slide 2" />
      <img src="{% static 'images/house3.png' %}" alt="Slide 3" />
    </div>

    <!-- HERO SECTION -->
   
    <div class="hero-content">
      <h1>Explore, Buy, Rent - All In One Place!</h1>
     <div class="cat-buttons">
  <button>Plot</button>
  <button>Villa</button>
  <button>Land</button>
  <button>Flat</button>
  <button>Commerciallands</button>
</div>

<div class="search-box">
 {% include 'search_form.html' %}
</div>

<hr />
  <p>Are You A Property Owner?</p>
  <a href="{% url 'prop:add_property' %}">
    <button class="post-btn">➕ Post Property Ad</button></a
  >


</div>

      
    </div>
   

   <br><br><br><br><br><br><br><br><br>

    <div class="lucky-section">
      <div class="lucky-container">
        <h2> Book Your Service</h2>
        <p>
        
          Book your service in advance and receive an assured gift! You’ll definitely
           need our services in the future, so lock your slot now.
        </p>
        <a href="{% url 'lucky:property_list' %}"> <button class="lucky-btn">Book a Slot</button></a>
      </div>
    </div>
    <!-- Welcome Section -->

     <section>
     <div class="container1">

    <h2>Explore Categories</h2>

    <div class="carousel-wrapper">
      <div class="carousel-container">
        <div class="carousel-track" id="carousel">

          <!-- FLATS -->
          <div class="carousel-item">
            <a href="{% url 'prop:property_list' 'Flat' %}">
              <div class="card">
                <img src="{% static 'images/img/fa.jpeg' %}" />
                <div class="card-title">Flats / Apartments</div>
              </div>
            </a>
          </div>

          <!-- PLOTS -->
          <div class="carousel-item">
            <a href="{% url 'prop:property_list' 'Plot' %}">
              <div class="card">
                <img src="{% static 'images/img/plots.jpeg' %}" />
                <div class="card-title">Plots</div>
              </div>
            </a>
          </div>

          <!-- LANDS -->
          <div class="carousel-item">
            <a href="{% url 'prop:property_list' 'Lands' %}">
              <div class="card">
                <img src="{% static 'images/img/lands.webp' %}" />
                <div class="card-title">Lands</div>
              </div>
            </a>
          </div>

          <!-- DISPUTED LAND -->
          <div class="carousel-item">
            <a href="{% url 'prop:property_list' 'Disputelands' %}">
              <div class="card">
                <img src="{% static 'images/img/dlands.jpg' %}" />
                <div class="card-title">Disputed Lands</div>
              </div>
            </a>
          </div>

          <!-- DEVELOPMENT LAND -->
          <div class="carousel-item">
            <a href="{% url 'prop:property_list' 'Developmentlands' %}">
              <div class="card">
                <img src="{% static 'images/img/developlands.jpeg' %}" />
                <div class="card-title">Development Lands</div>
              </div>
            </a>
          </div>

          <!-- INDEPENDENT HOUSE -->
          <div class="carousel-item">
            <a href="{% url 'prop:property_list' 'House' %}">
              <div class="card">
                <img src="{% static 'images/img/ih.png' %}" />
                <div class="card-title">Independent Houses</div>
              </div>
            </a>
          </div>

          <!-- FARM LAND -->
          <div class="carousel-item">
            <a href="{% url 'prop:property_list' 'Farm' %}">
              <div class="card">
                <img src="{% static 'images/img/fl.webp' %}" />
                <div class="card-title">Farm Lands</div>
              </div>
            </a>
          </div>

          <!-- VILLAS -->
          <div class="carousel-item">
            <a href="{% url 'prop:property_list' 'Villa' %}">
              <div class="card">
                <img src="{% static 'images/img/villa.jpeg' %}" />
                <div class="card-title">Villas</div>
              </div>
            </a>
          </div>

          <!-- COMMERCIAL -->
          <div class="carousel-item">
            <a href="{% url 'prop:property_list' 'Commerciallands' %}">
              <div class="card">
                <img src="{% static 'images/img/commercials.jpg' %}" />
                <div class="card-title">Commercials</div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

          <div class="carousel-buttons">
            <button onclick="move(-1)"><i class="fa-solid fa-chevron-left"></i></button>
            <button onclick="move(1)"><i class="fa-solid fa-chevron-right"></i></button>
          </div>
        </div>

        <!--  MOBILE GRID -->
        <div class="mobile-grid">
          <a href="{% url 'prop:property_list' 'Flat' %}?category=Flats" class="category-box">
            <img src="{% static 'images/img/fa.jpeg' %}" />
            <p>Flats / Apartments</p>
          </a>

          <a href="{% url 'prop:property_list' 'Plot' %}" class="category-box">
            <img src="{% static 'images/img/plots.jpeg' %}" />
            <p>Plots</p>
          </a>

          <a href="{% url 'prop:property_list' 'Lands' %}" class="category-box">
            <img src="{% static 'images/img/lands.webp' %}" />
            <p>Lands</p>
          </a>

          <a href="{% url 'prop:property_list' 'Disputelands' %}" class="category-box">
            <img src="{% static 'images/img/dlands.jpg' %}" />
            <p>Disputed Lands</p>
          </a>

          <a href="{% url 'prop:property_list' 'Developmentlands' %}"class="category-box">
            <img src="{% static 'images/img/developlands.jpeg' %}" />
            <p>Development Lands</p>
          </a>

          <a
            href="{% url 'prop:property_list' 'House' %}" class="category-box"  >
            <img src="{% static 'images/img/ih.png' %}" />
            <p>Independent Houses</p>
          </a>

          <a href="{% url 'prop:property_list' 'Farm' %}" class="category-box"><img src="{% static 'images/img/fl.webp' %}" />
            <p>Farm Lands</p>
          </a>

          <a href="{% url 'prop:property_list' 'Villa' %}" class="category-box">
            <img src="{% static 'images/img/villa.jpeg' %}" />
            <p>Villas</p>
          </a>

          <a href="{% url 'prop:property_list' 'Commerciallands' %}" class="category-box">
            <img src="{% static 'images/img/commercials.jpg' %}" />
            <p>Commercials</p>
          </a>
        </div>
      </div>
    </section>

<style>
    .project {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        gap: 25px;
        margin-top: 30px;
        padding-left: 30px;
    }

    .project-card {
        background: white;
        padding: 25px;
        border-radius: 20px;
        box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
        text-align: center;
        transition: 0.3s;
    }

    .project-card:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
    }

    .project-card img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
        margin-top: -10px;
        border: 4px solid #f0f0f0;
    }

    .card-details1 h3 {
        margin-top: 15px;
        font-size: 20px;
        font-weight: bold;
        color: #222;
    }

    .card-details1 p {
        margin: 5px 0;
        font-size: 15px;
        color: #444;
    }

    .call-btn {
        display: block;
        margin: 18px auto 5px;
        width: 70%;
        padding: 12px;
        background: #4c3eb6;
        color: white;
        border-radius: 12px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        transition: 0.3s;
    }

    .call-btn:hover {
        background: #3a2ea1;
    }

    .location-pin {
        color: #e63946;
        font-size: 18px;
    }
</style>

<!-- Company Pro Projects -->
<h2>Company Pro Projects</h2>
<div class="project">
    {% for p in pro_projects %}
    <div class="project-card">
        <a href="{% url 'prop:project_detail' p.id %}">
            {% if p.image %}
                <img src="{{ p.image.url }}" alt="{{ p.project_name }}">
            {% else %}
                <img src="{% static 'default.jpg' %}" alt="No Image">
            {% endif %}
        </a>
        <div class="card-details1">
            <h3>{{ p.project_name }}</h3>
            <p>📍 {{ p.project_location }}</p>
            <p><strong>Price:</strong> ₹{{ p.pricing }}</p>
            <a class="call-btn" href="{% url 'prop:project_detail' p.id %}">View Details</a>
        </div>
    </div>
    {% empty %}
    <p>No Company Pro projects found.</p>
    {% endfor %}
</div>
<div class="center-btn" style="padding-left: 43%;">
    <a href="{% url 'prop:all_projects' %}?category=pro" class="see-all-btn">See All Pro projects</a>
</div>

<!-- Company Normal Projects -->
<h2>Company Normal Projects</h2>
<div class="project">
    {% for p in normal_projects %}
    <div class="project-card">
        <a href="{% url 'prop:project_detail' p.id %}">
            {% if p.image %}
                <img src="{{ p.image.url }}" alt="{{ p.project_name }}">
            {% else %}
                <img src="{% static 'default.jpg' %}" alt="No Image">
            {% endif %}
        </a>
        <div class="card-details1">
            <h3>{{ p.project_name }}</h3>
            <p>📍 {{ p.project_location }}</p>
            <p><strong>Price:</strong> ₹{{ p.pricing }}</p>
            <a class="call-btn" href="{% url 'prop:project_detail' p.id %}">View Details</a>
        </div>
    </div>
    {% empty %}
    <p>No Company Normal projects found.</p>
    {% endfor %}

    
</div>
<div class="center-btn" style="padding-left: 43%;">
    <a href="{% url 'prop:all_projects' %}?category=normal" class="see-all-btn">See All Normal projects </a>
</div>





    <!-- ***************expert section************** -->
<section class="featured-pro-section">
  <h2>Featured Companies Pro</h2>
  <p>Discover Pro-level trusted builders and real estate brands</p>
  <div class="slider-container">
    <div class="card-grid" id="company-pro-slider">
      {% for u in featured_companies_pro %}
      <a href="{% url 'prop:company_profile_with_id' u.id %}" style="text-decoration: none;">
        <div class="expert-card">
          <img src="{{ u.profile_image_path.url }}" class="profile-img"/>
          <div class="card-details">
            <h3>{{ u.username }}</h3>
            <p class="location">📍 {{ u.location }}</p>
            <p>Experience: {{ u.experience }} yrs</p>
          </div>
          <a href="tel:{{ u.contact_number }}" class="call-btn">📞 Contact</a>
        </div>
      </a>
      {% empty %}
      <p>There is no user found.</p>
      {% endfor %}
    </div>
     
    <div class="center-btn">
      <a href="/all-users?category=company_pro" class="see-all-btn">See All Companies Pro</a>
    </div>
  </div>
</section>

<section class="experts-pro-section">
  <h2>Connect With Our Marketing Experts Pro</h2>
  <p>Hear from our pro-level marketing experts</p>

  <div class="slider-container">
    <div class="card-grid" id="expert-pro-slider">
      {% for u in marketing_experts_pro|slice:":4" %}
      <a href="{% url 'prop:user_detail' u.id %}" class="card-link" style="text-decoration: none">
        <div class="expert-card">
          <img src="{{ u.profile_image_path.url }}" class="profile-img"/>
          <div class="card-details">
            <h3>{{ u.username }}</h3>
            <p class="location">📍 {{ u.location }}</p>
            <p>Experience: {{ u.experience }} years</p>
          </div>
          <a href="tel:{{ u.contact_number }}" class="call-btn">📞 Contact</a>
        </div>
      </a>
      {% empty %}
      <p>There is no user found.</p>
      {% endfor %}
    </div>

    <div class="center-btn">
      <a href="/all-users?category=marketer_pro" class="see-all-btn">See All Experts Pro</a>
    </div>
  </div>
</section>

<section class="featured-section" >
  <h2>Featured Companies</h2>
  <p>Discover Trusted Builders and Real Estate Brands Across India</p>
  <div class="slider-container">
    <div class="card-grid" id="company-slider">
      {% for u in featured_companies %}
      <a href="{% url 'prop:company_profile_with_id' u.id %}" style="text-decoration: none;">
        <div class="expert-card">
          <img src="{{ u.profile_image_path.url }}" class="profile-img"/>
          <div class="card-details">
            <h3>{{ u.username }}</h3>
            <p class="location">📍 {{ u.location }}</p>
            <p>Experience: {{ u.experience }} yrs</p>
          </div>
          <a href="tel:{{ u.contact_number }}" class="call-btn">📞 Contact</a>
        </div>
      </a>
      {% empty %}
      <p>There is no user found.</p>
      {% endfor %}
    </div>
    <div class="center-btn">
      <a href="/all-users?category=company" class="see-all-btn">See All Companies</a>
    </div>
  </div>
</section>

<section class="experts-section">
  <h2>Connect With Our Marketing Experts</h2>
  <p>Hear from our satisfied customers about their experiences</p>

  <div class="slider-container">
    <div class="card-grid" id="expert-slider">
      {% for u in marketing_experts|slice:":4" %}
      <a href="{% url 'prop:user_detail' u.id %}" class="card-link" style="text-decoration: none">
        <div class="expert-card">
          <img src="{{ u.profile_image_path.url }}" class="profile-img"/>
          <div class="card-details">
            <h3>{{ u.username }}</h3>
            <p class="location">📍 {{ u.location }}</p>
            <p>Experience: {{ u.experience }} years</p>
          </div>
          <a href="tel:{{ u.contact_number }}" class="call-btn">📞 Contact</a>
        </div>
      </a>
      {% empty %}
      <p>There is no user found.</p>
      {% endfor %}
    </div>

    <div class="center-btn">
      <a href="/all-users?category=marketer" class="see-all-btn">See All Experts</a>
    </div>
  </div>
</section>

<section class="construction-section">
  <h2>Connect With Construction Professionals</h2>
  <p>One top-rated professional from each category</p>

  <div class="slider-container">
    <div class="card-grid" id="pro-slider">
      {% for u in professionals %}
      <a href="{% url 'prop:user_detail' u.id %}" style="text-decoration: none">
        <div class="expert-card">
          <img src="{{ u.profile_image_path.url }}" class="profile-img"/>
          <div class="card-details">
            <h3>{{ u.username }}</h3>
            <p class="location">📍 {{ u.location }}</p>
            <p>Experience: {{ u.experience }} yrs</p>
          </div>
          <a href="tel:{{ u.contact_number }}" class="call-btn">📞 Contact</a>
        </div>
      </a>
      {% empty %}
      <p>There is no user found.</p>
      {% endfor %}
    </div>
    <div class="center-btn">
      <a href="/all-users?category=professional" class="see-all-btn">See All Professionals</a>
    </div>
  </div>
</section>

    <!-- Section 1 -->
    <div class="sec">
      <div class="section1">
        <img src="{% static 'images/pickers.avif' %}" alt="Move Image" />
        <div class="section1-content">
          <h2>Move Smart, Move Safe</h2>
          <p>
            From packing to unpacking, our trusted movers ensure a smooth, safe,
            and hassle-free relocation experience so you can focus on settling
            into your new home.
          </p>
          <a href="{% url 'prop:move_form' %}"><button>checknow</button></a>
        </div>
      </div>

      <!-- Section 2 -->
      <div class="section1">
        <img src="{% static 'images/constraction.jpg' %}" alt="Build Image" />
        <div class="section1-content">
          <h2>Build with Confidence</h2>
          <p>
            Our expert builders deliver quality construction services tailored
            to your vision — reliable, affordable, and modern.
          </p>
          <a href="{% url 'prop:contact_form' %}"><button>Learn More</button></a>
        </div>
      </div>

      <!-- Section 3 -->
      <div class="section1">
        <img src="{% static 'images/loan.jpg' %}" alt="Loan Image" />
        <div class="section1-content">
          <h2>Easy Home Loans</h2>
          <p>
            Get quick and hassle-free housing loans with low interest rates and
            flexible EMIs — making home ownership closer than ever.
          </p>
          <a href="{% url 'prop:loan_form' %}"><button>Apply For Loan</button></a>
        </div>
      </div>
    </div>

    <section class="biz-wrapper">
      <div class="biz-card">
        <!-- LEFT TEXT -->
        <div class="biz-content">
          <h2>
            Own A Business,<br />
            Shape Your Future
          </h2>
          <p>
            Submit Your Inquiry And Explore Top Franchise Opportunities
            Hassle-Free
          </p>

          <a href="{% url 'prop:franchise'%}" class="biz-btn">Get Franchise</a>
        </div>

        <!-- RIGHT IMAGE -->
        <div class="biz-image">
          <img
            src="{% static 'images/img/banner.jpg' %}"
            alt="Business Meeting"
          />
        </div>
      </div>
    </section>

    <section class="requirement">
      <div class="require">
        <h2>
          If you do not find your requirements, please let us know your
          requirements.
        </h2>
        <a href="{% url 'prop:require' %}" class="biz-btn">My Requirements</a>
      </div>
    </section>

    <h1>What We Serve Our Sellers and Buyers</h1>
    <div class="w">
      <p>We offer complete assistance for smooth real estate transactions.</p>
    </div>

    <div class="cards-container">
      <!-- Row 1 -->
      <div class="card-item">
        <img
          src="{% static 'images/verification.jpg' %}"
          alt="Document Verification"
        />
        <h1>Document Verification</h1>
        <p>
          We check the legality in the documentation and how the property has
          inherited the past.
        </p>
      </div>

      <div class="card-item">
        <img
          src="{% static 'images/property.jpg' %}"
          alt="Property Qualifying"
        />
        <h1>Property Qualifying</h1>
        <p>
          We verify the property’s physical position and boundaries according to
          the documents.
        </p>
      </div>

      <div class="card-item">
        <img src="{% static 'images/cleaned.jpg' %}" alt="Property Cleaning" />
        <h1>Property Cleaning</h1>
        <p>
          We clean and hand over the property to the buyer — washing, clearing
          trees, or plants as needed.
        </p>
      </div>

      <!-- Row 2 -->
      <div class="card-item">
        <img src="{% static 'images/boundary.jpg' %}" alt="Property Boundary" />
        <h1>Property Boundary</h1>
        <p>
          We provide clear boundaries for open plots using cement or stone
          pillars for accurate marking.
        </p>
      </div>

      <div class="card-item">
        <img src="{% static 'images/document.jpg' %}" alt="Document Drafting" />
        <h1>Document Drafting</h1>
        <p>
          We handle new document preparation, safe registration, and related
          documentation charges.
        </p>
      </div>

      <div class="card-item">
        <img src="{% static 'images/packers.jpg' %}" alt="Packers and Movers" />
        <h1>Packers and Movers</h1>
        <p>
          We offer packers and movers service to both sellers and buyers once
          during their transaction.
        </p>
      </div>

      <!-- Row 3 -->
      <div class="card-item" style="grid-column: 1 / span 1">
        <img
          src="{% static 'images/invistement.jpg' %}"
          alt="Investment Security"
        />
        <h1>Investment Security</h1>
        <p>
          We provide investment security — if any legal issues arise, we take
          responsibility and reimburse as per market value.
        </p>
      </div>
    </div>

    <br><br><br><br>
   
    {% include 'footer.html' %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const select = document.querySelector(".search-box select");
        const catButtons = document.querySelectorAll(".cat-buttons button");

        // When category button is clicked, update the dropdown only
        catButtons.forEach((btn) => {
          btn.addEventListener("click", () => {
            const value = btn.textContent.trim();
            select.value = value; // update dropdown only
          });
        });
      });

      let index = 0;
      const track = document.getElementById("carousel");
      const totalItems = track.children.length;
      let itemsPerView = 1;

      function checkWidth() {
        if (window.innerWidth >= 1100) itemsPerView = 3;
        else if (window.innerWidth >= 768) itemsPerView = 2;
        else itemsPerView = 1;
      }

      function move(dir) {
        const width = track.children[0].offsetWidth;
        const maxIndex = totalItems - itemsPerView;
        index += dir;
        if (index < 0) index = maxIndex;
        if (index > maxIndex) index = 0;
        track.style.transform = `translateX(-${index * width}px)`;
      }

      setInterval(() => move(1), 4000);
      window.addEventListener("resize", () => {
        checkWidth();
        move(0);
      });
      checkWidth();
    </script>

  </body>
</html>
